.login-container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0d6efd; */
    background-image: url('../../assets/bg-auth.png');
    min-height: calc(100vh - 5rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.login-content{
    background-color: white;
    width: 33%;
    padding: 30px;
    border-radius: 5px;
    /* opacity: 0.8; */
}

.heading-text{
    text-align: center;
    font-weight: bold;
}

.form-group{
    margin-bottom: 10px;
}

.login-button{
    margin-top: 15px;
    width: 100%;
}

.signup-link{
    text-align: center;
    margin-top: 2rem;
    display: block;
}